@font-face {
  font-family: "SFRegular";
  src: url("../fonts/SF-Pro-Rounded-Regular.otf") format("truetype");
}

@font-face {
  font-family: "SFMedium";
  src: url("../fonts/SF-Pro-Rounded-Medium.otf") format("truetype");
}

@font-face {
  font-family: "SFBold";
  src: url("../fonts/SF-Pro-Rounded-Bold.otf") format("truetype");
}
